In [1]:
import numpy as np
import pandas as pd
import seaborn as sn

In [2]:
df=pd.read_csv("D:/extra/udemy_machine/classification/Classification+preprocessed+data+Python.csv",header=0)

In [3]:
df.describe()

,price,resid_area,air_qual,room_num,age,teachers,poor_prop,n_hos_beds,n_hot_rooms,rainfall,parks,Sold,avg_dist,airport_YES,waterbody_Lake,waterbody_Lake and River,waterbody_River
count,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000,506.000000
mean,22.528854,41.136779,0.554695,6.284634,68.574901,21.544466,12.653063,7.899767,12.864050,39.187747,0.054454,0.454545,3.795104,0.551383,0.191700,0.140316,0.361660
std,9.182176,6.860353,0.115878,0.702617,28.148861,2.164946,7.141062,1.464939,2.688778,12.497221,0.010632,0.498422,2.105859,0.497845,0.394028,0.347659,0.480957
min,5.000000,30.460000,0.385000,3.561000,2.900000,18.000000,1.730000,5.268000,10.057600,6.000000,0.033292,0.000000,1.127500,0.000000,0.000000,0.000000,0.000000
25%,17.025000,35.190000,0.449000,5.885500,45.025000,19.800000,6.950000,6.659000,11.189800,28.000000,0.046464,0.000000,2.100625,0.000000,0.000000,0.000000,0.000000
50%,21.200000,39.690000,0.538000,6.208500,77.500000,20.950000,11.360000,7.963000,12.720000,39.000000,0.053507,0.000000,3.207500,1.000000,0.000000,0.000000,0.000000
75%,25.000000,48.100000,0.624000,6.623500,94.075000,22.600000,16.955000,9.076000,14.170800,50.000000,0.061397,1.000000,5.187500,1.000000,0.000000,0.000000,1.000000
max,50.000000,57.740000,0.871000,8.780000,100.000000,27.400000,37.970000,10.876000,46.198560,60.000000,0.086711,1.000000,12.127500,1.000000,1.000000,1.000000,1.000000

In [4]:
x=df[['price']] #independent variable two dimension so we us[[]]

In [5]:
y=df['Sold']

In [6]:
x.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [7]:
y.head()

0    0
1    1
2    0
3    0
4    0
Name: Sold, dtype: int64

In [8]:
from sklearn.linear_model import LogisticRegression

In [9]:
clf_lrs=LogisticRegression()

In [10]:
clf_lrs.fit(x,y)

LogisticRegression()

In [11]:
clf_lrs.coef_ #(Beta0)

array([[-0.03571865]])

In [12]:
clf_lrs.intercept_

array([0.61477516])

In [13]:
import statsmodels.api as sn

In [14]:
x_cons=sn.add_constant(x)  #without constan Bet0=0 so add constant

In [15]:
x_cons.head()

   const  price
0    1.0   24.0
1    1.0   21.6
2    1.0   34.7
3    1.0   33.4
4    1.0   36.2

In [16]:
import statsmodels.discrete.discrete_model as sn

In [17]:
logit=sn.Logit(y,x_cons).fit() #add constant term in to variable

Optimization terminated successfully.
         Current function value: 0.676690
         Iterations 5

In [18]:
logit.summary()

<class 'statsmodels.iolib.summary.Summary'>
"""
                           Logit Regression Results
==============================================================================
Dep. Variable:                   Sold   No. Observations:                  506
Model:                          Logit   Df Residuals:                      504
Method:                           MLE   Df Model:                            1
Date:                Sat, 19 Nov 2022   Pseudo R-squ.:                 0.01788
Time:                        08:44:23   Log-Likelihood:                -342.41
converged:                       True   LL-Null:                       -348.64
Covariance Type:            nonrobust   LLR p-value:                 0.0004142
==============================================================================
                 coef    std err          z      P>|z|      [0.025      0.975]
------------------------------------------------------------------------------
const          0.6149      0.248      2.484      0.013       0.130       1.100
price         -0.0357      0.010     -3.417      0.001      -0.056      -0.015
==============================================================================
"""